.inputContainer {
    position: relative;
    margin-bottom: 10px;
  }
  
  .inputContainer input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    transition: all 0.3s;
  }
  
  .inputContainer input:focus {
    outline: none;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .inputContainer label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999999;
    pointer-events: none;
    transition: all 0.3s;
  }
  
  .inputContainer input:focus + label,
  .inputContainer input:not(:placeholder-shown) + label {
    top: 0;
    font-size: 12px;
    color: #FF0000;
    transform: translateY(-100%);
  }